/* armata-regular - latin */
@font-face {
  font-family: 'Armata';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/armata-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/armata-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/armata-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/armata-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/armata-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/armata-v12-latin-regular.svg#Armata') format('svg'); /* Legacy iOS */
}

/* arvo-regular - latin */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/arvo-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/arvo-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/arvo-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/arvo-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/arvo-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('..static/fonts/arvo-v14-latin-regular.svg#Arvo') format('svg'); /* Legacy iOS */
}

/* atkinson-hyperlegible-regular - latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/atkinson-hyperlegible-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
url('../fonts/atkinson-hyperlegible-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/atkinson-hyperlegible-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/atkinson-hyperlegible-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/atkinson-hyperlegible-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/atkinson-hyperlegible-v1-latin-regular.svg#AtkinsonHyperlegible') format('svg'); /* Legacy iOS */

}

.pre {
    font-size: 1rem;
  overflow-x: auto;
  overflow-y: auto;
  overflow:   auto;
  background-color: #FFFFFF;
}

body {
  font-size: 1.3rem; //
  letter-spacing: 0.00em;
}




