// set custom hex colors
//$siteBgColorCustom: #e3e3da;
//$siteBgColorCustom: #121212;
//$sidebarBgColorCustom: #395054;
//$textColorCustom: #bcc4c4;
//$sidebarTextColorCustom: #c0c8cc;
//$headlineColorCustom: #FFFFFF;
//$headingColorCustom: #21522a;
//$bodyLinkColorCustom: #96b8d6;
//$navLinkColorCustom: #96b8d6;
//$sidebarLinkColorCustom: #028cc7;
//$footerTextColorCustom: #918f8d;
//$buttonTextColorCustom: #f7f7f4;
//$buttonHoverTextColorCustom: #f9f9f8;
//$buttonBgColorCustom: #103742;
//$buttonHoverBgColorCustom: #c4001a;
//$borderColorCustom: #c4beb9;


$siteBgColorCustom: #e0e1dd;
$sidebarBgColorCustom: #2a3d45;
$textColorCustom: #0b090a;
$sidebarTextColorCustom: #c0c8cc;
$headlineColorCustom: #181925;
$headingColorCustom: #3a5a40;
$bodyLinkColorCustom: #001d3d;
$navLinkColorCustom: #006466;
$sidebarLinkColorCustom: #427aa1;
$footerTextColorCustom: #918f8d;
$buttonTextColorCustom: #f7f7f4;
$buttonHoverTextColorCustom: #f9f9f8;
$buttonBgColorCustom: #427aa1;
$buttonHoverBgColorCustom: #c4001a;
$borderColorCustom: #c4beb9;
